* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.foto-perfil {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 20px;
}

.list-item {
    color: #fff;
    opacity: 0.7;
    transition: opacity 0.3s, transform 0.3s;

    &:hover {
        color: #d13d48;
        opacity: 1;
        transform: scale(1.1);
    }
}

.list-item-icon {
    margin-right: 1rem;
}