*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #F4F6F3;
}
.header{
    position: relative;
    width: 100%;
    height: 118px;
}
header{
    width: 100%;
    height: 118px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1%;
    border-bottom: 1px solid #30353B;
    position: fixed;
    background-color: white;
    z-index: 1;
}
header .options{
    width: 478px;
    height: 77px;
}
header .options h4{
    margin-top: 13px;
    font-size: 25px;
}

header .options .foto-profile{
    width: 77px;
    height:  77px;
    border-radius: 38.5px;
    background-image: url(../../images/perfil.jpg);
    background-size: 100% 100%;
    float: left;
    margin-right: 20px;
}

header .options p{
    float: left;
    font-size: 24px;
}
header .options .icon-setab{
    width:20px;
    height: 13px;
    background-image: url(../../images/setab.png) ;
    background-size: 100% 100%;
    float: left;
    margin-left: 15px;
    margin-top: 7px;
    cursor: pointer;
}


header .options .logout{
    display: none;
    width: 150px;
    height: 65px;
    position: absolute;
    top: 100px;
    right: 100px;
    background-color: #ccc;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 20px;
}

header .options .logout button{
    position: relative;
    top: 31px;
    left: 45px;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
   
}
input[type=checkbox]{
    display: none;
}
label{
    cursor: pointer;
}
input[type=checkbox]:checked ~ .logout{
    display: flex;
}

.icone-perfil{
    position: relative;
    top: 20px;
    left: 15px;
    width: 23px;
    height: 23px;
    background-image: url(../../images/Perfil.png);
    background-size: 100% 100%;
}