header.cx{
    width: 100%;
    height: 82px;
    background-color: #30353B;
    margin-top: 91px;
    color: white;
    padding-left:16px ;
    border-radius: 5px;
}

header.cx h4{
    font-size: 20px;
    line-height: 82px;
}

section .periodo{
    margin-top: 30px;
}

.box-data{
    float: left;
    margin-right: 30px;
    margin-top: 20px;
}

.box-data input[type="date"]{
    width: 316px;
    height:51px;
    border-radius: 5px;
}

.box-data label{
   margin: 10px;
   cursor: pointer;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  tr:hover{
    background-color: #dddddd;
    cursor: pointer;
  }
  