
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.right{
    width: calc(100% - 339px);
    float: right;
}